@import "../Utils/mixins";
@import "../Utils/variables";
@import "../Utils/keyframes";

.footer {
    width: 100%;
    background-color: #383636;
    padding: 25px 0px 40px 30px;
    color: white;
    @media screen and (min-width: 768px) {padding: 10px 0px 8px 30px;}
    &__logo {
    font-size: 20px;
    font-family: "Shrikhand";
    margin-top: 0; margin-bottom: 10px;
    @media screen and (min-width: 768px) {
        width: 90%;
        margin-left: auto; margin-right: auto;
        margin-bottom: 0;
        }
    }
    &__list {
        line-height: 1.65;
        @media screen and (min-width: 768px) {
            display: flex;
            width: 90%;
            margin-left: auto; margin-right: auto;
            margin-top: 4px;
        }
    }
    &__icon1 {margin-right: 10px;}
    &__icon2 {margin-right: 8px;font-size: 13px;}
}

ul {
    list-style-type: none;
    padding-left: 0;
    
}

ul a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    @media screen and (min-width: 768px) {margin-right: 75px;}
}