@import "../Utils/mixins";
@import "../Utils/variables";
@import "../Utils/keyframes";

.header {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex; flex-direction: column;
    text-align: center;
    &__top {
        display: flex;
        align-items: center;
        color: black;
        padding-bottom: 10px;
        padding-left: 10px;
        @media screen and (min-width: 768px) {
            justify-content: center;
            padding-bottom: 5px;
        }
    }
    &__icon {
        padding: 5px 65px 0 15px; 
        color: black;
        font-size: 20px;
        &:hover {
            color: $color1;
            font-size: 24px;
        }
    }
    &__logo {
        width: 200px;
        padding-top: 10px;
        @media screen and (min-width: 768px) {width: 20%;}
    }
    &__img {
        width: 100%;
        height : 300px;
        object-fit: cover;
        z-index: -1;
        @media screen and (min-width: 768px) {height: 200px;}
    }
}
   