* {
    box-sizing: border-box;
  }
$color1 : #9356DC;
$color2 : #FF79DA;
$color3 : #99E2D0;



body {
    width: 100%;
    margin: 0;
}

header {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.header__logo {
    width: 50%;
    padding-top: 10px;
}


.img_header {
    width: 100%;
    height : 300px;
    object-fit: cover;
}
.menu_entier {
    background-color:     #eeeee4;
    width: 100%;
    border-radius: 30px 30px 0 0;
}


footer {
    width: 100%;
    background-color: gray;
    font: white;
}