@import "../Utils/mixins";
@import "../Utils/variables";
@import "../Utils/keyframes";

.heart1 {
    // right: 1%;
    // position: absolute;
    // opacity: 5;
    // z-index: 1;
    // font-size: 30px;
}

.heart2 {
    // opacity: 0;
    // z-index: 1;
    // font-size: 15px;
    // color: $color2;
    // position: relative;
    // padding-top: 6px;
    // padding-left: 28px;
}

.hearts__icon {
    width: 30px; height: 30px;
    &:active {
        .heart1 {opacity: 0;}
        .heart2 {animation: heart_select 0.6s both;}
    }
    @media screen and (min-width: 768px) {
        &:hover {
            .heart1 {opacity:0;}
            .heart2 {animation: heart_select 0.6s both;}
        }
    }
}


.menu {
    background-color:   #f6f6f6;
    width: 100%;
    border-radius: 30px 30px 0 0;
    display: flex; flex-direction: column;
    margin-top: -50px;
    position: relative;
    z-index: 3;
    @media screen and (min-width: 768px) {
        width: 90%;
        margin-left: auto; margin-right: auto;
        margin-top: -60px;
    }
}
.menu__head {
    display: flex;
    justify-content: space-between; align-items: center;
    padding: 20px 25px 0 20px ;
    font-size: 12px;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {padding: 5px 25px 0 20px}
}


.submenu {
    @include display_submenu;
    @media screen and (min-width: 768px) {margin-bottom: 6px;}
    &__head {
        @include meals_head;
        @media screen and (min-width: 768px) {margin-bottom: 6px;}
    }
    &__list {
        @include display_meals_list;
        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 98%;
        }
    }
}

.meal {
    @include display_meals;
    @media screen and (min-width: 768px) {
        width: 32%;
        padding: 8px;
    }
    &__title {
        @include meals-title;
        @media screen and (min-width: 768px) {
            width: auto;
            margin-bottom: 2px;
        }
    }
    &__details {
        @include meals-details;
    }
    &__price {
        transition: transform 0.5s ease-in-out;
    }
    &__select {
        background-color: $color3;
        display: flex;
        justify-content: center; align-items: center;
        width: 20%; height: 100%;
        color: white;
        font-size: 22px;
        position: absolute; left: 100%; bottom: 0;
        z-index: 4;
        border-radius: 0 10px 10px 0;
        transition: transform 0.5s ease-in-out;
    }
}
.fa-check-circle {transition: transform 0.7s ease-in-out;}

.meal {
    &:hover {
        .meal__select {transform: translateX(-100%);}
        .meal__price {transform: translateX(-350%);}
        .fa-check-circle {transform: rotate(720deg)}
        .meal__description {
            width: 230px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.n1 {animation: gradual_appearance 0.5s 0.2s both;}
.n2 {animation: gradual_appearance 0.5s 0.3s both;}
.n3 {animation: gradual_appearance 0.5s 0.4s both;}
.n4 {animation: gradual_appearance 0.5s 0.5s both;}



.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    @media screen and (min-width: 768px) {margin-top: 0; margin-bottom:20px;}
}

.btn-primary {
    @include button;
    @include boxshadow;
    padding: 15px 25px 15px 25px;
    &:hover {@include button_hover}
}

.btn-secondary {
    @include button;
    @include boxshadow;
    padding: 15px 50px 15px 50px;
    &:hover {@include button_hover}
}