

* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: "Shrikhand";
    src: url(assets/fonts/Shrikhand-Regular.ttf);
  }

  body {
    width: 100%;
    margin: 0;
    font-family: "Roboto";
}


h1 {
  font-weight: 900;
  font-size: 26px;
  @media screen and (min-width: 768px) {margin-top: 5px; margin-bottom: 10px;}
}

h2 {
  font-family: "Shrikhand";
  font-size: 28px;
  margin-top: 10px;
  @media screen and (min-width: 768px) {
      font-size: 24px;
      margin-bottom: 0px;
  
  }
}

h3, h5, p{
  margin: 0;
}

h3 {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media screen and (min-width: 768px) {font-size: 18.5px};
}

h5 {
  font-size: 14px;
  font-style: normal;
}
p {
  color: #383636;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}