/* KEYFRAMES */

@keyframes loading
{
	0%
	{
		opacity:1;
        z-index: 5;
	}
    40%
	{
		opacity:0.95;
        z-index: 5;
	}
    60%
	{
		opacity:.90;
        z-index: 5;
	}
	90%
	{
		opacity:.8;
        z-index: 5;
	}
    95%
	{
		opacity:.5;
        z-index: 5;
	}
	100%
	{
		opacity:0;
        display: none;
        z-index: -50;
	}
}

@keyframes rotation_spinner
{
	0%
	{
		opacity:1;
		transform:rotate(0turn);
	}
	50%
	{
		transform:rotate(2turn);
	}
	90%
	{
		transform:rotate(3turn);
        opacity:.9;
	}
	100%
	{
		opacity:.3;
		transform:rotate(4turn);
	}
}

@keyframes gradual_appearance
{
	0%
	{
		opacity:0;
        transform:translateY(50%);
	}
    80%
	{
		opacity:0.9;
	}
    90%
	{
		opacity:0.95;
	}
	100%
	{
		opacity:1;
        transform:translateY(0px);
	}
}

@keyframes heart_select
{
	0%
	{
		opacity:0;
        transform: scale(1);
	}
    10%
	{
		opacity:1;
        transform: scale(1.1);
	}
    100%
	{
		opacity:1;
        transform: scale(1.9);
	}
}

@keyframes select_meal
{
	0%
	{
		opacity:0;
        transform: translateX(30%);
	}
    10%
	{
		opacity:1;
        transform: translateX(25%);
	}
    100%
	{
		opacity:1;
        transform: translateX(0%);
	}
}
